<%- include('../partials/head',{title:'booking'}) %> 
<body class="overflow-x-hidden">
    <%- include('../partials/header',{currentPage:currentPage,isLoggedIn:isLoggedIn,user:user})%>
    <div class="flex flex-col items-center mt-[20vh]">
<h1 class="text-5xl text-red-600 font-bold pb-[30px]">My Bookings</h1>
<h1 class="text-2xl">Booking will appear here</h1>
</div>
<%- include('../partials/footer') %>
</body>
</html>