<%- include('../partials/head',{title:'Home List'})%>

<body class="overflow-x-hidden">
    <%- include('../partials/header',{currentPage:currentPage,isLoggedIn:isLoggedIn,user:user})%>
    <%- include('../partials/mainBody',{bodyObj:bodyObj}) %>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
