<form action="/favourite" method="POST">
  <button type="submit" class="cursor-pointer bg-blue-700 w-[10vw] p-1.5">
    Add Favourite
  </button>
  <input type="hidden" value="<%= id %>" name="id" />
</form>
